<div class="header">
    <div class="container">
      <h1>threadly</h1>
    </div>
  </div>

  <div class="main">
    <div class="container">
      
      <%= form_for(@post) do |f| %>
        <%= f.text_field :comment, :placeholder => "comment" %>
        <%= f.submit "post", :class => "btn" %>
      <% end %>

      <ul class="comments">
        <% @posts.each do |p| %>
         <li> <%= p.comment %></li>
        <% end %>
        
      </ul>
    </div>
  </div>

  <script src="http://s3.amazonaws.com/codecademy-content/projects/jquery.min.js"></script>
  <script src='script.js'></script>